body {
  margin: 0;
  background-color: #fff;
}
.container {
  width: 1296px;
  margin-left: auto;
  margin-right: auto;
}
.page-header {
  padding-top: 31px;
  padding-bottom: 31px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  column-gap: 44px;
}
.logo-link {
  color: #000;
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.dropdawn {
  position: relative;
}
.nav-menu-button {
  border-radius: 4px;
  border: none;
  background-color: #0f8277;
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
}
.nav-menu-button::after {
  content: url(../images/heroHeader/Frame_one.svg);
  margin-left: 8px;
}
.head-search-field {
  position: relative;
  width: 318px;
  background-color: #eeeeee;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
  padding: 10px 0 10px 12px;
  color: #5c5c5c;
  font-family: Quicksand;
  line-height: 120%;
}
.search-field {
  background-color: #eeeeee;
  border: none;
  outline: none;
  width: 290px;
}
.head-search-button {
  padding: 10px 10px 9px 10px;
  border: 1px solid #5c5c5c;
  background-color: #0f8277;
  position: absolute;
  right: -1px;
  bottom: -1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-services {
  margin-left: auto;
  margin-right: 104px;
}
.nav-services-list {
  list-style: none;
  display: flex;
  gap: 48px;
  padding-left: 0;
}
.nav-services-link {
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
}
.nav-registration-list {
  list-style: none;
  display: flex;
  gap: 16px;
  padding-left: 0;
}
.nav-registration-link {
  padding: 10px 12px;
  border-radius: 4px;
  text-align: center;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 120%;
}
.login-link {
  color: #0f8277;
}
.signup-link {
  color: #eee;
  background-color: #0f8277;
}

/* banner */
.banner {
  background-color: #dbf3ed;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-block {
  padding-left: 110px;
}
.page-title {
  color: #000;
  font-family: Quicksand;
  font-size: 56px;
  line-height: 120%;
  margin-bottom: 32px;
}
.page-subtitle {
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
}
.green-banner-link {
  margin-right: 24px;
}
.green-link {
  padding: 10px 12px;
  color: #eee;
  background-color: #0f8277;
  display: inline-block;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
}
.white-link {
  display: inline-block;
  font-family: Quicksand;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
  padding: 8px 12px;
  color: #0f8277;
  border: 2px solid #0f8277;
}
.hero-img {
  padding: 30px 50px;
}

/* programm */

.section-container {
  margin-top: 80px;
}
.section-title {
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  line-height: 120%;
}
.title {
  color: #000;
  font-family: Quicksand;
  font-size: 40px;
  line-height: 120%;
}
.services-title {
  margin-top: 12px;
}
.section-description {
  margin-top: 12px;
  color: #000;
  font-family: Quicksand;
  font-size: 20px;
  line-height: 120%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 40px;
}
.card-container {
  border: 1px solid #eeeeee;
  border-radius: 12px;
}
.card-link {
  background-color: #fff;
}
.card-desc-container {
  padding: 24px 16px;
}
.card-img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card-desc-logo {
  margin-right: 12px;
}
.card-logo-container {
  display: flex;
  align-items: center;
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
}
.card-title {
  height: 57px;
  margin-top: 16px;
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}
.diplom-block {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 77px;
  color: #0f8277;
  font-family: Quicksand;
}

/* courses */

.courses-title {
  margin-top: 12px;
}
.courses-card-container {
  width: 302px;
  border: 1px solid #eeeeee;
  border-radius: 12px;
}
.courses-span {
  display: block;
  margin-top: 57px;
  color: #0f8277;
  font-family: Quicksand;
  line-height: 120%;
}
.more {
  display: block;
  margin-top: 40px;
  text-align: center;
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.more::after {
  content: url(../images/Courses/arrow.svg);
  margin-left: 16px;
  position: relative;
  top: 5px;
}

/* Featured topics by category */

.topics-container {
  margin-top: 40px;
  column-gap: 24px;
  display: flex;
  justify-content: space-between;
}
.topic-title {
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  line-height: 120%;
}
.topic-list {
  width: 306px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  list-style: none;
}
.category-title {
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.category-text {
  margin-top: 10px;
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
}
/* cooperate */

.cooperate {
  width: 100%;
  background-color: #dbf3ed;
  padding-top: 60px;
}
.cooperate-title {
  width: 871px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.cooperate-block {
  display: flex;
  justify-content: center;
  column-gap: 42px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* solution */

.solution {
  display: flex;
  gap: 72px;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 70px;
}
.solution-title {
  margin-top: 68px;
}
.solution-desk {
  padding: 32px 68px 32px 0;
}
.solution-company-block {
  display: grid;
  grid-template-columns: repeat(3, 196px);
  grid-template-rows: repeat(3, 136px);
}
.img-company-container {
  width: 196px;
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-two {
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.item-four {
  border-bottom: 1px solid #bababa;
  border-top: 1px solid #bababa;
}
.item-five {
  border: 1px solid #bababa;
}
.item-six {
  border-bottom: 1px solid #bababa;
  border-top: 1px solid #bababa;
}
.item-eight {
  border-left: 1px solid #bababa;
  border-right: 1px solid #bababa;
}

/*  plan */

.plan-section {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #dbf3ed;
  background-size: 100vw 100vh;
  text-align: center;
}
.plan-title {
  margin-bottom: 40px;
}
.plan-card-container {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.plan-card {
  width: 395px;
  border-radius: 24px;
  border: 1px solid #0f8277;
  padding: 56px;
  position: relative;
}
.plan-card-title {
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  line-height: 120%;
}
.plan-card-description {
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
}
.price-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}
.price {
  position: relative;
  margin-right: 16px;
  color: #000;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}
.term {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  position: relative;
  bottom: 8px;
  left: 16px;
}
.plan-card-link {
  display: block;
  width: 124px;
  border: 2px solid #f6fdff;
  margin: 75px auto 48px auto;
  padding: 10px 12px;
  color: #f6fdff;
  font-family: Cabin;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0.72px;
  border-radius: 4px;
  background: #0f8277;
}
.plan-card-decorline {
  height: 1px;
  color: #0f8277;
  margin-bottom: 32px;
}
.plan-card-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
  text-align: start;
  padding-left: 0;
}
.plan-list-item {
  margin-left: 33px;
}
.plan-item-img {
  background-color: #0f8277;
  border-radius: 500px;
  border: 2px solid #0f8277;
  position: absolute;
  left: 56px;
}
.plan-list-text {
  display: flex;
  justify-content: space-between;
  line-height: 120%;
}
.green-card {
  background-color: #0f8277;
  color: #ffffff;
}
.green-card-title {
  color: #ffffff;
}
.green-card-desc {
  color: #ffffff;
}
.green-card-price {
  color: #ffffff;
}
.green-card-price span {
  color: #fff;
}
.green-card-link {
  border: 2px solid #ffffff;
  margin-top: 27px;
}
.green-card-decorline {
  height: 1px;
  color: #ffffff;
  margin-bottom: 32px;
}
.green-card-img {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 500px;
  margin-right: 16px;
  position: absolute;
  left: 56px;
}
.card-year-link {
  margin-top: 46px;
}

/* Photos of our students */

.student-title {
  text-align: center;
  margin-bottom: 40px;
}
.students-photo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  grid-template-areas:
    "student_1 student_9 student_9 student_8"
    "student_2 student_9 student_9 student_7"
    "student_3 student_4 student_5 student_6";
}
.student_1 {
  grid-area: student_1;
}
.student_2 {
  grid-area: student_2;
}
.student_3 {
  grid-area: student_3;
}
.student_4 {
  grid-area: student_4;
}
.student_5 {
  grid-area: student_5;
}
.student_6 {
  grid-area: student_6;
}
.student_7 {
  grid-area: student_7;
}
.student_8 {
  grid-area: student_8;
}
.student_9 {
  grid-area: student_9;
}
.student-photo-img {
  width: 100%;
  height: 100%;
}

/* contact us */

.form-section {
  width: 100%;
  background: url(../images/form\ background.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  position: relative;
}
.form-section::after {
  content: "";
  display: block;
  height: 915px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.form-container {
  width: 565px;
  margin: auto;
  padding: 65px 30px 48px 30px;
}
.page-form {
  position: relative;
  z-index: 5;
  background-color: #dbf3ed;
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
.form-title {
  text-align: center;
  padding-top: 30px;
}
.form-description {
  margin-top: 24px;
}
.input-name {
  margin-top: 24px;
  margin-bottom: 8px;
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
.form-input {
  display: block;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  color: #8e8e8e;
  font-family: Quicksand;
  line-height: 24px;
}
.form-button {
  margin-top: 24px;
  margin-bottom: 30px;
  width: 196px;
  border: none;
}

/* footer */

.foot {
  background-color: #f1f1f1;
}
.foot-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
.foot-title-container {
  width: 306px;
}
.foot-logo-link {
  color: #000;
  font-family: Quicksand;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.foot-desk {
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
  margin-top: 16px;
}
.foot-text {
  color: #000;
  text-align: right;
  font-family: Quicksand;
  line-height: 120%;
}
.foot-navigation-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  gap: 24px;
  margin-bottom: 60px;
}
.foot-nav-item {
  width: 32px;
  height: 32px;
}
.foot-navigation-link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
}
.link-instagramm {
  background-image: url(../images/FrameInst.svg);
}
.link-facebook {
  background-image: url(../images/FrameFase.svg);
}
.link-linkedin {
  background-image: url(../images/FrameLink.svg);
}

/* hidden-window */

.hidden-window {
  display: none;
  width: 370px;
  padding: 16px 12px 33px 12px;
  position: absolute;
  top: 76px;
  left: 487px;
  background: #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border: none;
}
.hidden-window-servises {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}
.hidden-block {
  display: flex;
  flex-direction: column;
}
.hidden-window-link {
  display: block;
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
}
.hidden-window-goals,
.hidden-window-themes {
  margin-top: 40px;
}
.hidden-window-title {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  line-height: 120%;
}
.hidden-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
  margin-top: 40px;
  padding-left: 0;
}
.hidden-window-link {
  color: #000;
  font-family: Quicksand;
  line-height: 120%;
}
.hidden-list-first {
  margin-top: 0;
}
